---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 row-height" style="background-color:gainsboro">
            <div id="markdown-content-container">

                {% assign api_categories = "" %}
                {% assign api_categories = "" | split: ',' %}


                {% for item in site.data.CovaAPIDocumentation.paths %}

                {% assign path = item[0] %}

                {% assign details = item[1] | split: ", " %}
                {% assign details1 = details[0] | split: "=>{"  %}
                {% assign method = details1[0] | remove: '{' | remove: '"' %}
                {% assign link = site.data.CovaAPIDocumentation.paths[path][method] %}
                {% assign category = link.tags %}


                {% assign  api_categories =  api_categories | push: category | sort %}
                {% endfor %}


                {% assign  api_categories =  api_categories | sort %}


                {% assign api_category = "" %}
                {% assign api_category = "" | split: ',' %}
                {% assign current_category = "" %}


                {% for item in api_categories %}

                {% if item != current_category %}
                {% assign  api_category =  api_category | push: item | sort %}
                {% assign current_category = item %}
                {% endif %}
                {% endfor %}




                <h3>Cova API List</h3>


                {% for group in api_category %}
                {% assign  menu = group[0] | remove: " " | remove: "," | remove: '}'  %}

                <nav>
                    <ul class="nav">
                        <li>
                            <a href="#" id="btn-{{ menu }}" data-toggle="collapse" data-target="#{{ menu }}" style="color:black" aria-expanded="false">{{ group }} </a>
                            <ul class="nav collapse" id="{{ menu }}" role="menu" aria-labelledby="btn-{{ menu }}">

                                {% for item in site.data.CovaAPIDocumentation.paths %}

                                {% assign path = item[0] %}
                                
                                {% assign details = item[1] | split: ", " %}
                                {% assign details1 = details[0] | split: "=>{"  %}
                                {% assign method = details1[0] | remove: '{' | remove: '"' | remove: '}' %}
                                {% assign link = site.data.CovaAPIDocumentation.paths[path][method] %}
                                {% assign category = link.tags %}
                                <ul>
                                    {% if category == group %}
                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#details{{forloop.index0}}">{{ link.summary }} </a>

                                    </li>

                                    {{ method | upcase }}
                                    <i>
                                        {{ path }}
                                    </i>
                                    {{api}}
                                    {% endif %}
                                </ul>
                                {% endfor %}
                            </ul>

                            <br />
                            {% endfor %}

                </nav>

            </div>
        </div>

        <div class="col-lg-7 row-height" style="background-color:white">

            <h1> API Description </h1>


            {% for group in api_category %}
            {% assign  menu = group[0] | remove: " " | remove: "," | remove: '}'  %}




            {% for item in site.data.CovaAPIDocumentation.paths %}

            {% assign path = item[0] %}
        



            {% assign details = item[1] | split: ", " %}
            {% assign details1 = details[0] | split: "=>{"  %}
            {% assign method = details1[0] | remove: '{' | remove: '"' | remove: '}' %}
            {% assign link = site.data.CovaAPIDocumentation.paths[path][method] %}
            {% assign category = link.tags %}
    
            {% if category == group %}
            <div id="details{{forloop.index0}}" class="collapse">
                <h3>{{ link.summary}}</h3>
                <br>
                <br>

                {{ method | upcase }}
                <i>
                    {{ path }}
                </i>

                <br>
                <br>

                {{ link.description }}

                <br>
                <br>
                <br>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th> Parameter: </th>
                            <th> Location: </th>
                            <th> Description: </th>
                            <th> Required?: </th>
                            <th> Data Type: </th>
                            <th> Example: </th>
                        </tr>
                    </thead>

                    {% for parameter in link.parameters %}


                    <tbody>
                        <tr>
                            <td> {{ parameter.name }} </td>
                            <td> {{ parameter.in }} </td>
                            <td> {{ parameter.description }} </td>
                            <td> {{ parameter.required }} </td>
                            <td> {{ parameter.schema.type }} </td>
                            <td> {{ parameter.schema.example }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                {% endif %}
            
            {% endfor %}

            {% endfor %}
        </div>
        <div class="col-lg-3 row-height" style="background-color:black">
            <div id="markdown-content-container" style="color:gold">
                {% assign con = "application/hal+json" %}
                {% assign res = "200" %}
               
                {{link.responses}}
              
            </div>
        </div>
    </div>
    </div>
